* {
  font-family: "Righteous", cursive;
}

h1 {
  text-align: center;
  font-size: 40px;
  width: 840px;
}
body {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}
.content {
  display: flex;
  width: auto;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.alpaca_container {
  width: 400px;
  height: 400px;
  position: relative;
  padding: 5px;
  border-radius: 100%;
}

.alpaca_container img {
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 100%;
}

#back {
  z-index: 1;
}

#leg {
  z-index: 2;
}

#ears {
  z-index: 3;
}

#neck {
  z-index: 4;
}
#hair {
  z-index: 5;
}
#nose {
  z-index: 6;
}
#mouth {
  z-index: 7;
}
#eyes {
  z-index: 8;
}
#acc {
  z-index: 9;
}

.options_container {
  text-align: center;
}

.accesories {
  height: 200px;
  width: 400px;
  color: black;
  box-sizing: border-box;
  padding: 5px;
}

.style {
  height: 200px;
  width: 400px;
  color: black;
  box-sizing: border-box;
  padding: 5px;
}

h2 {
  text-decoration: underline;
}

button {
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid black;
}

.others {
  display: inline-flex;
  margin-top: 20px;
  align-items: center;
}

.others button {
  width: 400px;
  background-color: black;
  color: white;
  font-family: "Righteous", cursive;
}
.others button:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.accesories button {
  background-color: rgb(0, 139, 253);
  color: white;
}

.style button {
  background-color: rgb(252, 255, 59);
  color: black;
}

.accesories button:hover {
  box-shadow: 0 0 10px rgb(10, 145, 255);
}
.style button:hover {
  box-shadow: 0 0 10px rgb(207, 209, 53);
}

button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  text-decoration: underline;
  color: black;
}
