* {
  font-family: "Righteous", cursive;
}
.content {
  display: inline-flex;
  align-items: center;
}

.alpaca_container {
  width: 400px;
  height: 400px;
  position: relative;
  z-index: 4;
  border: 2px dotted black;
  border-radius: 10px;
  padding: 5px;
}

.alpaca_container img {
  width: 400px;
  height: 400px;
  position: absolute;
}

#back {
  z-index: 1;
}

#leg {
  z-index: 2;
}

#ears {
  z-index: 3;
}

#neck {
  z-index: 4;
}
#hair {
  z-index: 5;
}
#nose {
  z-index: 6;
}
#mouth {
  z-index: 7;
}
#eyes {
  z-index: 8;
}
#acc {
  z-index: 9;
  display: none;
}

.options_container {
  flex: row wrap;
  text-align: center;
  margin: 0px 20px;
}

.accesories {
  height: 200px;
  width: 400px;
  border: 2px dotted black;
  border-radius: 10px;
}

.style {
  height: 200px;
  width: 400px;
  border: 2px dotted black;
  border-radius: 10px;
  margin-top: 10px;
}

h2 {
  text-decoration: underline;
}

button {
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid black;
}

.default button {
  width: 400px;
  background-color: yellow;
  font-family: "Righteous", cursive;
}

button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: lightgray;
}
button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  text-decoration: underline;
}
